<link rel="stylesheet" href="/css/styles.css">
<h1>{{product.productName}}</h1>
<div class="product-details">
    <img src="{{product.imageUrl}}" alt="{{product.productName}}">
    <p>Price: ₱{{product.productPrice}}</p>
    <p>{{product.productDescription}}</p>
    <button onclick="addToCart('{{product._id}}')">Add to Cart</button>
</div>